<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.js" integrity="sha512-kTA5As3DFbe7Gz6vIpsyaWjX9WSEKeyGigJkmzlQDIUVlPV5ceFxKHG+CAXvbxQvd8iVWJ6nS5egDw1WCss4Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.min.js" integrity="sha512-5T245ZTH0m0RfONiFm2NF0zcYcmAuNzcGyPSQ18j8Bs5Pbfhp5HP1hosrR8XRt5M3kSRqzjNMYpm2+it/AUX/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>newproject</title>
    <style>
      * {
  box-sizing: border-box;
}
canvas {
  width: 900px;

}


body {
  margin: 0;
  padding: 0;

  margin-top: 20%;
  margin-left: 40%;
  overflow: hidden;
  transform: translate(-50%,-50%);
}
    </style>
</head>
<body>
    
    <script>
        const COLOR = {
    WINDOW: 'transparent',
  };


      var Engine = Matter.Engine,
    Render = Matter.Render,
    Runner = Matter.Runner,
    Bodies = Matter.Bodies,
    Composite = Matter.Composite;

var engine = Engine.create();

var render = Render.create({
    element: document.body,
    engine: engine,
    options : {
        width: 900,
        height: 9000,
        wireframes: false,
        background: COLOR.WINDOW

    }
  
});


var ground = Bodies.rectangle(300, 4980, 610, 30,{ isStatic: true});
var mouse=Matter.Mouse.create(render.canvas);
var mouseCoonstraint=Matter.MouseConstraint.create(engine,{
    mouse: mouse,
    constraint: {
        render: {visible: false}
    }
});
render.mouse=mouse;

let ball= Bodies.circle(200,300,40);
let sling=Matter.Constraint.create({
    pointA:{x:100,y:300},
    bodyB:ball,
stiffness:0.05

});

let stack=Matter.Composites.stack(270,210,3,4,3,0,function(x,y){
    let sides=Math.round(Matter.Common.random(2,9));
    return Bodies.polygon(x,y,sides,Matter.Common.random(17,40));
    // return Bodies.rectangle(x,y,40,40);
})
let stack1=Matter.Composites.stack(270,210,3,4,3,0,function(x,y){
    let sides=Math.round(Matter.Common.random(2,9));
    return Bodies.polygon(x,y,sides,Matter.Common.random(17,40));
    // return Bodies.rectangle(x,y,40,40);
})
Composite.add(engine.world, [stack,stack1,ball,sling,ground,mouseCoonstraint]);

// run the renderer
Render.run(render);

// create runner
var runner = Runner.create();

// run the engine
Runner.run(runner, engine);

    </script>
</body>
</html>